In [1]:
#Remap values in Pandas columns using replace() function

import pandas as pd
df = pd.DataFrame({'Date': ['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
				'Event': ['Music', 'Poetry', 'Theatre', 'Comedy'],
				'Cost': [10000, 5000, 15000, 2000]})
print(df)

        Date    Event   Cost
0  10/2/2011    Music  10000
1  11/2/2011   Poetry   5000
2  12/2/2011  Theatre  15000
3  13/2/2011   Comedy   2000

In [3]:
# Create a dictionary using which we will remap the values
dict={'Music':'M','Poetry': 'P','Theatre':'T','Comedy':'C'}
print(dict)
#remap the values of the dataframe
df.replace({'Event':dict})

{'Music': 'M', 'Poetry': 'P', 'Theatre': 'T', 'Comedy': 'C'}

        Date Event   Cost
0  10/2/2011     M  10000
1  11/2/2011     P   5000
2  12/2/2011     T  15000
3  13/2/2011     C   2000

In [4]:
#Remap values in Pandas DataFrame columns using map() function 
df['Event']=df['Event'].map(dict)
print(df)

        Date Event   Cost
0  10/2/2011     M  10000
1  11/2/2011     P   5000
2  12/2/2011     T  15000
3  13/2/2011     C   2000